{% extends 'base.html' %}
{%block content%}
<div class="container">
<h2>Login</h2>
 <form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label"> Username</label>
        <input type="text" name='username' class="form-control">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" name='password' class="form-control">
    <button type="submit" class="btn btn-primary"> Iniciar Sesion </button>
    </div>
 </form>
</div>
{%endblock content%}